.userPhoto {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}


.userBlock {
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}
