.cover {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.profileInfo {

}
.descriptionBlock {
    padding: 20px 10px;
}

.fullName {
    display: block;
    font-size: 150%;
    font-weight: 500;
    margin-right: 20px;
}

.avatarBlock {
    display: grid;
}

.avatar {
    margin: auto 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    display: flex;
    align-content: center;
}
.text {
    display: inline;
}

.contactItem {
    padding-left: 10px;
}

.block {
    display: block;
}

.contacts {

}

.error {
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
}

.error span {
    display: block;
}