.cover {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.profileInfo {

}
.descriptionBlock {
    padding: 20px 10px;
}

.fullName {
    display: inline;
    font-size: 150%;
    font-weight: 500;
    margin-right: 20px;
}

.avatarBlock {
    display: grid;
}

.avatar {
    margin: auto 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    display: flex;
    align-content: center;
}
.text {
    display: inline;
}